---
title: Doyle Designs • Logo, Branding, and  Motion - Ottawa, On Canada
meta: Find out more about Doyle Designs and the work that I do as a designer.
layout: default
---

<main role="main" id="main">
<article>

<div class="grid large-screen-b large-screen">
{% for item in site.categories.logobranding %}
  <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
    <a class="" href="{{site.baseurl}}{{item.url}}">
        <img class="wimg" src="{{site.baseurl}}/images/{{item.src}}">
    </a>
  </div>
{% endfor %}

{% for item in site.categories.personalwork %}
  <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
    <a class="" href="{{site.baseurl}}{{item.url}}">
        <img class="wimg" src="{{site.baseurl}}/images/{{item.src}}">
    </a>
  </div>
{% endfor %}

{% for item in site.categories.motion %}
  <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
    <a class="" href="{{site.baseurl}}{{item.url}}">
        <img class="wimg" src="{{site.baseurl}}/images/{{item.src}}">
    </a>
  </div>
{% endfor %}
</div>





  </div>
</article>
</main>

