<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 push-2 pad-t">
        <nav>
          <ul class="center">
            <li class="nav gutter-1-2 "><a class=" {% if page.url == "/logobranding.html"%}current{% endif %}" href="{{site.baseurl}}/logobranding.html" title="homepage">BRANDING</a></li>
            <li class="nav gutter-1-2 "><a class=" {% if page.url == "/motion.html"%}current{% endif %}" href="{{site.baseurl}}/motion.html" title="Contact">MOTION</a></li>
            <li class="nav gutter-1-2 "><a class=" {% if page.url == "/personalwork.html"%}current{% endif %}" href="{{site.baseurl}}/personalwork.html" title="Contact">PERSONAL</a></li>
          </ul>
        </nav>
      </div>
