  <!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.meta}}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/colours.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<ul class="skip-links">
        <li><a href="#main">Skip to main content</a></li>
        <li><a href="#navigation">Skip to navigation</a></li>
</ul>

<header role="banner">
  <div class=" grid-middle posmark large-screen-b">
      <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 pad-t">
        <div class="none">
          <h1>Doyle Designs - Graphic and Motion designer</h1>
          <p>Freelance Graphic designer based in Ottawa On, Canada. I focus on my logo design/Branding and Motion design.</p>
        </div>
        <div class="peta gutter push-0"><a class="tblack sans-serif" href="{{site.baseurl}}/"><img class="mark" src="{{site.baseurl}}/images/wordmark.png" alt="Brad Doyle freelance designer from DoyleDesigns"></a></div>
      </div>
      {% include nav.html %}
      <img class="wimg push-0" src="{{site.baseurl}}/images/line.svg">
    </div>
</header>

{{content}}

  <div class="guide large-screen-b large-screen">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
      <img class="geo push" src="{{site.baseurl}}/images/geodes.svg" alt="Blue geodesic dome">
      <img class="wimg push pad-t" src="{{site.baseurl}}/images/line.svg" alt="blue dot-to-dot line">
    </div>
  </div>

  <div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-m-1unit-l-1 unit-xl-1">
    <div class="pad-t center">
      <a href="mailto:doyledesigscanada@gmail.com" class="sans-serif mail"><h2 class="tblack mail">DOYLEDESIGNSCANADA@GMAIL.COM</h2></a>
    </div>
  </div>

    <div class="center pad-b">
      <div class="grid center">
        <a href="https://www.behance.net/DoyleDesigns"><img src="{{site.baseurl}}/images/social_behance.svg" class="socialmedia gutter pad-t-1-2 pad-b-1-2"></a>
        <!-- <a href="https://dribbble.com/DoyleDesigns"><img src="{{site.baseurl}}/images/social_dribble.svg" class="socialmedia gutter pad-t-1-2 pad-b-1-2"></a> -->
        <a href="https://instagram.com/doyle_designs/"><img src="{{site.baseurl}}/images/social_insta.svg" class="socialmedia gutter pad-t-1-2 pad-b-1-2"></a>
        <a href="https://twitter.com/Doyle_Designs"><img src="{{site.baseurl}}/images/social_twitter.svg" class="socialmedia gutter pad-t-1-2 pad-b-1-2"></a>
        <a href="https://vimeo.com/user35368113"><img src="{{site.baseurl}}/images/social_vimeo.svg" class="socialmedia gutter pad-t-1-2 pad-b-1-2"></a>
        <!-- <a href="https://www.youtube.com/channel/UCGVPmamf9-yiX4ly799L_mQ"><img src="{{site.baseurl}}/images/social_youtube.svg" class="socialmedia gutter pad-t-1-2 pad-b-1-2"></a> -->
      </div>
    </div>
  </div>
<footer class="grid footer micro tan" >
  {% include nav.html %}
  <div role="contentinfo" class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 island-half">
    <p class="tblack push-0">© 2015 Doyle Designs</p>
  </div>
</footer>
</main>
</body>
</html>
